
/* Universal Styles */
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: papayawhip;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: left;
}

header, main, footer {
    margin: 0px auto;
}



/* Header styles */

header {
    position: sticky;
    top: 0px;
    width: 100%;
    margin-top: 80px;
    z-index:3;
}

/* Nav styles */

nav {
    max-width: 960px;
    margin: 0 auto;
    text-align: right;
    background-color: #ffc583;
    display: block;
    position: relative;
    right: 0px;
}

a {
    text-decoration: none;
}

nav a {
    color: #141c3a;
    background-color: white;
    margin: 8px;
    padding: 18px;

    border-radius: 70px 50px;
}

nav a:hover {
    color: #ffb764;
}


/* Header section */
.mastHead {
    background-color: #141c3a;
    color: white;

    padding: 20px 64px 24px 64px;
}

#authorImage {
    width: 15%;
    border: 3px solid white;
    border-radius: 100%;
    position: relative;
    top: 0px;
    left: 50px;
    z-index: 3;

}

#authorImage:hover {
    width: 25%;
}

.headerContent {
   display: inline-block;
   position: relative;
   left: 50px;
   vertical-align: top;
}

/* Main section*/
main {
    position: relative;
    top: 200px;
}

.Content {
    background-color: white;
    text-align: center;
    max-width: 960px;
    margin: 0px auto;

}
.Content a {
    color: #141c3a
}

.sectionTitle {
    padding: 20px;
    background-color: #141c3a;
    color: white;
    position: sticky;
    top: 119px;
    border-bottom: 3px solid white;
}

/* Portfolio items with layouts left and right */
.projectL {
    text-align: left;
    padding: 20px;

}

.projectR {
    padding: 20px;
    background-color: darkgray;
}

.screenshot {
    width: 100%;
}

/* Table styles */
table {
    width: 90%;
    height: 300px
}

td {
    width: 50%;
    vertical-align: top;
}

.projectR td {
    text-align: right;
}