html {
    background-color: papayawhip;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    
}

header, main, footer {
    max-width: 100%;
    margin: auto; 
}

/* Header styles */

.mastHead {
    background-color: #141c3a;
    color: white;
    
    padding: 20px 64px 24px 64px;
    margin-top: 80px;
}

#authorImage {
    width: 15%;
    border-width: 3px;
    border-color: #141c3a;
    border-radius: 100%;
    float: left;
}

.headerContent {
    margin-left: 30%;
}

/* Nav styles */ 
nav {
    max-width: 960px;
    margin: auto;
    text-align: right;
    
}

a {
    text-decoration: none;
}

nav a {
    color: white;
    background-color: darkgray;
    margin: 8px;
    padding: 8px;
}


/* Start of main section */
main {
    padding-top: 75px;
    max-width: 960px;
    
}

h2 {
    text-align: left;
}



.Content {
    background-color: white;
    text-align: center;
    
}
.Content a {
    color: #141c3a
}

.sectionTitle {
    padding: 20px;
    background-color: #141c3a;
    color: white;
}



/* Portfolio items with layouts left and right */
.projectL {
    text-align: left;
    padding: 20px;
    
}

.projectR {
    padding: 20px;
    background-color: darkgray;
}

.screenshot {
    width: 100%;
}

/* Table styles */
table {
    width: 90%;
    height: 300px
}

td {
    width: 50%;
    vertical-align: top;
}

.projectR td {
    text-align: right;
}